html {
    height: 100%;
}
body {
    margin: 0px;
    padding: 5px;
    overflow: visible;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #1d1d1d no-repeat top right;
}

* {
    color: white;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
}

body div {
    /*border: 1px solid #ffffff;*/
}
body div.header {
    line-height: 63px;

}
body div.header div.title {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    vertical-align: middle;
}

em {
    color: #fba919;
    text-decoration: none;
    font-style:normal;
}

body div.main {
    padding-left: 5px;
    padding-right: 5px;
}

body div.filters {
    display: table-row;
}
div.filters label, div.filters select {
    cursor: pointer;
    font-size: 1.1em;
}
div.filters div.prefils {
    display: table-cell;
    width: 105px;
}

table.items {
    display: table;
    width: 100%;
    vertical-align: top;
    margin-top: 20px;
}
table.items td {
    vertical-align: top;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}
table.items th {
    text-align: left;
}

select {
    padding: 5px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    min-width: 100px;
    height: 34px;
    overflow: hidden;
    background: url(../img/torrent.png) no-repeat right #474747;
    border: 1px solid #ccc;
}
.main textarea {
    color:#000000;
    padding: 5px;
    resize: none; /* disable gecko resize possibility */
    outline: none; /* remove the blue glow (all webkit, ff 3.6, opera 10 )*/
    width:100%;
    height: 100px;
    margin: 0px;
}
.main button, .main input[type="button"] {
    cursor: pointer;
    font-size: 1.1em;
    padding: 5px;
}

div.preview > * {
    border: 1px solid red;
}

.editor {
    background: #ccc
}